@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');

.arrow{
    margin-top: 40vh;
    margin-bottom: 40vh;
}

.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 1vh 1vw;
    color: rgb(209, 96, 116);
    background-color: rgb(248, 243, 244);
    border: 1px solid rgb(192, 99, 114);
    cursor: pointer;
    font-family: "Bitcount Single", system-ui;
}
.btn:hover{
    font-weight: bolder;
}

body{
    cursor: url("img/image.png"), auto;
}
